<style>
  .card {

    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
  }

  .card-title {
    color: white;
    }

</style>



<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4">
      <div class="card text-center container">
        <img src="https://2.bp.blogspot.com/-2mfHXvF2-H4/Vvv4tRV0i8I/AAAAAAAATGM/zUY5Fb4_R_k62CxslSdQGPEwMgn-e421w/s1600/Harry_Potter_and_the_Chamber_of_Secrets_Illustrated.jpg" class="card-img-top" alt="Descripción de la imagen">
        <div class="card-body">
          <h5 class="card-title">Harry_Potter_and_the_Chamber_of_Secrets_Illustrated</h5>
          <button class="btn btn-primary">Botón</button>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card text-center container">
        <img src="https://i5.walmartimages.com/asr/94385c31-9aa4-4731-8b04-b4452eea6942_1.39f38f62afe800f319449adb21bdb0ab.jpeg" class="card-img-top" alt="Descripción de la imagen">
        <div class="card-body">
          <h5 class="card-title">SpyderWick</h5>
          <button class="btn btn-primary">Botón</button>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card text-center container">
        <img src="https://i.pinimg.com/736x/86/c4/18/86c418d579feffbc642512a454c6aca8--william-shakespeare-book-covers.jpg" class="card-img-top" alt="Descripción de la imagen">
        <div class="card-body">
          <h5 class="card-title">Hamlet</h5>
          <button class="btn btn-primary">Botón</button>
        </div>
      </div>
    </div>
  </div>
</div>

