<style>
  .card {

    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -15px -15px 30px rgb(60, 60, 60);
  }

  .card-title {
    color: white;
    }

</style>



<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="col-md-4">
      <div class="card text-center container">
        <img src="https://cdn.pixabay.com/photo/2013/07/12/14/36/man-148582_1280.png" class="card-img-top" alt="Descripción de la imagen">
        <div class="card-body">
          <h5 class="card-title">Pedro</h5>
          <button class="btn btn-primary">Botón</button>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card text-center container">
        <img src="https://cdn.pixabay.com/photo/2012/04/13/21/07/user-33638_960_720.png" class="card-img-top" alt="Descripción de la imagen">
        <div class="card-body">
          <h5 class="card-title">Juan</h5>
          <button class="btn btn-primary">Botón</button>
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      <div class="card text-center container">
        <img src="https://cdn.pixabay.com/photo/2014/03/25/16/24/female-296990_960_720.png" class="card-img-top" alt="Descripción de la imagen">
        <div class="card-body">
          <h5 class="card-title">Maria</h5>
          <button class="btn btn-primary">Botón</button>
        </div>
      </div>
    </div>
  </div>
</div>

