<div class="contianer">
    <div class="row">
        <div class="col-md 6">
            <button class="btn btn-primary">Create Loans</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Name of the book</th>
                        <th scope="col">loan date</th>
                        <th scope="col">return date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Duvan</td>
                        <td>El principito</td>
                        <td>05/04/2024</td>
                        <td>15/04/2024</td>
                        <td>
                            <button class="btn btn-danger">Delete</button>
                            <button class="btn btn-primary">Show</button>
                            <button class="btn btn-info">Edit</button>
                        </td>
                    </tr>
                </tbody>
        </div>
    </div>
</div>